:root,
body {
  font-family: "Reddit Sans", "Noto Sans JP", -apple-system, BlinkMacSystemFont, sans-serif;
  user-select: none;
}

body:lang(ja) {
  font-language-override: "JP78";
}

:lang(en) {
  font-language-override: "ENG"
}

body {
	width: 720px;
	height: 720px;
	margin: 0;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	touch-action: none;
}
